{% extends 'content/base.html' %}
{% block content %}
{% load tags_and_filter %}
<body>
<div class="col-12">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card mb-3 mt-4 box-shadow">
                <div class="container text-center">
                    <div class="card text-center mt-4">
                        <div>
                            <a href="{% url 'content:index' %}" class="btn mt-4" style="background-color: #e2c6f7">Вернуться
                                к постам</a>
                        </div>
                        <div class="card-body">
                            <em>Всего вы выложили постов: {{ post_all }}</em>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <div class="container text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h1 class="display-6">Самый популярный пост по просмотрам:</h1>
                                    </div>
                                    <div class="col">
                                        <h1 class="display-6">Самый популярный пост по лайкам:</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-start mt-4 mb-4">
                        <br>
                        <div class="col">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>{{post_views.title|truncatechars:50}}</strong>
                                    </li>
                                    <li class="list-group-item"><em>{{post_views.text|truncatechars:50}}</em></li>
                                    <li class="list-group-item">Количество просмотров: {{post_views.views}}</li>
                                </ul>
                            </div>
                            <br>
                            <img class="img-thumbnail rounded mx-auto d-block" style="max-width: 70%"
                                 src="{{ post_views.image | mymedia }}">
                        </div>
                        <div class="col">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>{{post_likes.title|truncatechars:50}}</strong>
                                    </li>
                                    <li class="list-group-item"><em>{{post_likes.text|truncatechars:50}}</em></li>
                                    <li class="list-group-item">Количество лайков: {{like_post}}</li>
                                </ul>
                            </div>
                            <br>
                            <img class="img-thumbnail rounded mx-auto d-block" style="max-width: 70%"
                                 src="{{ post_likes.image | mymedia }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
</body>
{% endblock %}
